@import url(reset.css);
@import url(fonts.css);

.container {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

html,
body{
   height: 100%;
   font-family: 'Roboto-Regular' ;
   color: #525560;
}

.wrapper {
   max-width: 1320px;
   margin: 0 auto;
   padding: 0 20px;
}

.header {
   background: #ffffff;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   box-shadow: 0px -30px 58px #0B0706;
   z-index: 5;
}

.header__body {
   flex: 1 1 auto;
   height: 67px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__logo {
   flex: 0 0 auto;
   padding: 0 40px 0 0;
   justify-self: flex-start;
}


.header__navigation {
   display: flex;
}

.header__menu {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}


.header__menu-item {
   font-size: 16px;
   font-weight: 500;
   color: #525560;
   margin: 0 40px 0 0;
   position: relative;
   transition: all .5s;
}

.header__menu-item:focus,
.header__menu-item:hover {
   color: #0B0706;
}

.header__menu-item::after {
   content: "";
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   width: 0px;
   height: 1px;
   background: #525560;
   transition: all .5s;
}

.header__menu-item::after:focus {
   background: #0B0706;
}

.header__menu-item:hover::after {
   content: "";
   width: 100%;
}

.header__button{
   color: #ffffff;
   align-self: center;
   background: #1d2130;
   border-radius: 4px;
   padding: 12px 32px;
   margin: 0;
   transition: all .5s;
   
}

.header__button:hover {
   border-bottom: none;   
   background: #1d2130ef;

}

.main {
   padding: 67px 0 0 0;
   flex: 1 1 auto;
   background-color: #ffffff;
}

.main.hide {
   position: relative;
   z-index: -3;  
}

.banner {
   background: url('../img/background.png') 0 0/cover no-repeat;
}

.banner__content-wrapper {
   max-width: 640px;
   text-align: left;
   padding: 130px 0 190px 0;
   transition: all 0.5s;
}

.banner__title {
   font-size: 64px;
   font-weight: 700;
   padding: 0 0 67px 0;
   color: #ffffff;
}

.white-button,
.green-button {
   font-size: 16px;
   font-weight: 600;
   padding: 16px 32px;
   color: #1D2130;
   background: #ffffff;
   border-radius: 4px;
   position: relative;
   transition: all .3s;
}

.white-button:hover {
   background: #cecdcd;
}

.white-button:active {
   top: 0.6px;
   left: 0.6px;
}

.green-button {
   display: inline-block;
   color: #ffffff;
   background: #70C174;
   margin: 15px 0 0 0;
}

.green-button:hover {
   background: #55b15a;
}

.banner__play-button {
   color: #ffffff;
   margin: 0 0 0 40px;
   padding: 0 0 0 35px;
   position: relative;
   transition: all .3s;
}

.banner__play-button:hover {
   color: #cecdcd;
}

.banner__play-button:active {
   top: 1px;
   left: 1px;

}

.banner__play-button::before {
   content: "";
   background: url('../img/Play icon.svg') 0 0/contain no-repeat;
   width: 24px;
   height: 24px;
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   margin: auto;
}

.banner__statistics {
   display: flex;
   padding: 0 0 65px 0;
   color: #ffffff;
   transition: all 0.5s;

}

.banner__statistics_trees,
.banner__statistics_donations {
   font-size: 18px;
}

.banner__statistics_line {
   flex: 1 1 auto;
   background: #ffffff;
   height: 1px;
   align-self: center;
   margin: 0px 25px;
}

.about-us {
   padding: 95px 0 0 0;
}

.row {
   display: flex;
   justify-content: space-between;
}
.content {
   padding: 0 0 0 110px;
   align-self: center;
}

.title {
   font-size: 16px;
   font-weight: 700;
   letter-spacing: 2px;
   text-transform: uppercase;
   position: relative;
}

.title::before {
   content: '';
   width: 70px;
   height: 2px;
   background: #1D2130;
   position: absolute;
   top: 0;
   left: -100px;
   bottom: 0;
   margin: auto;
}

.subtitle {
   font-size: 48px;
   font-weight: 700;
   max-width: 608px;
   color: #1D2130;
   padding: 35px 0 ;
}


.content__text {
   max-width: 608px;
   font-size: 16px;
   line-height: 26px;
}

.content__text {
   padding: 0 0 35px 0;
   color: #525560;
}


.about-us__image {
   max-width: 480px;
   border-radius: 12px;
   position: relative;
   cursor: pointer;
   transition: all 0.3s;
}

.about-us__image:hover {
   transform: scale(1.05);
}

.about-us__image::before {
   content: "";
   background: url('../img/Play icon.svg') 0 0/contain no-repeat;
   width: 64px;
   height: 64px;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
}

.about-us__supporters{
   padding: 65px 0;
}

.about-us__supporters_title {
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 2px;
   color: #1D2130;
   margin: 0 0 35px 0;
   text-transform: uppercase;
   position: relative;
}

.about-us__supporters_title::after {
   content: "";
   height: 1px;
   max-width: 1080px;
   width: 100%;
   background: #e5e5e5;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   margin: auto;
}

.about-us__supporters_logo {
   transition: all 0.3s;
}

.about-us__supporters_logo:hover {
   cursor: pointer;
   transform: scale(1.05);
}

.care {
   background: #EFF7F2;
   padding: 95px 0px 95px 0px;
}

.care .subtitle {
   padding: 32px 0 15px 0;
}

.care__we-do {
   max-width: 460px;
   border-left: 1px solid #e5e5e5;
   padding: 0 0 0 75px;   
}


.care__we-do_title{
   font-size: 24px;
   line-height: 28px;
   font-weight: 700;
   color: #1D2130;
   padding: 0 0 8px 0;
   position: relative;
}

.care__we-do_cities::before,
.care__we-do_plantations::before,
.care__we-do_protect::before,
.care__we-do_animal::before {
   content: '';
   width: 28px;
   height: 28px;
   position: absolute;
   left: -52px;
   top: 0;
}

.care__we-do_cities::before {
   background: url('../img/care/cities.svg') 0 0/contain no-repeat;
}

.care__we-do_plantations::before {
   background: url('../img/care/plantations.svg') 0 0/contain no-repeat;
}

.care__we-do_protect::before {
   background: url('../img/care/landAndWater.svg') 0 0/contain no-repeat;
}

.care__we-do_animal::before {
   background: url('../img/care/animal.svg') 0 0/contain no-repeat;
}

.care__we-do_activity .content__text {
   padding: 0 0 25px 0;
}

.care__we-do_activity:last-of-type .content__text {
   padding: 0 0 0 0;
}

.care__image {
   align-self: end;
   cursor: pointer;
   transition: all 0.3s;
}

.care__image:hover {
   transform: scale(1.05);
}

.projects .wrapper {
   padding: 96px 20px;
}

.projects__image {
   max-width: 411px;
   padding: 80px 48px 48px 48px;
   border-radius: 12px;
   position: relative;
   cursor: pointer;
}

.projects__image_color-overlay{
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0);
   opacity: .5;
   border-radius: 12px;
   position: absolute;
   top: 0;
   left: 0;
   transition: all .5s;
}

.projects__image:hover .projects__image_color-overlay{
   opacity: .3;
}

.projects__image-plantation {
   background: url('../img/projects/project1.png') no-repeat;
}

.projects__image-clean-city {
   background: url('../img/projects/project2.png') no-repeat;
}

.projects__image-wildlife {
   background: url('../img/projects/project3.png') no-repeat;
}

.projects__image_title {
   font-size: 28px;
   line-height: 42px;
   font-weight: 700;
   color: #ffffff;
   position: relative;
   z-index: 1;
}

.projects .content__text {
   color: #ffffff;
   padding: 16px 0 64px 0;
   position: relative;
   z-index: 1;
}

.projects .white-button {
   position: relative;
   z-index: 1;
}

.projects .row {
   padding-top: 33px;
   column-gap: 23px;
}

.donations {
   background: #0B0706;
}
.donations .wrapper {
   padding: 96px 20px;
   position: relative;
}

.donations__content {
   max-width: 610px;
}

.donations__statistic{
   flex-wrap: wrap;
   justify-content: left;
   gap: 16px 24px;
}

.donations .subtitle,
.donations .content__text,
.donations__statistic_info{
   color: #ffffff;
}

.donations__statistic_info {
   padding: 0 0 0 24px;
   position: relative;
}

.donations__statistic_info::before {
   content: '';
   height: 16px;
   width: 16px;
   border-radius: 4px;
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   margin: auto;
}

.donations__statistic_planting::before{
   background: #BEF3C0;
}

.donations__statistic_cleaning::before{
   background: #AC94F1;
}

.donations__statistic_helping::before{
   background: #FFF0CA;
}

.donations__statistic_animal::before{
   background: #F9CF64;
}

.donations__statistic_feeding::before{
   background: #F38FBF;
}

.donations .content__text{
   font-weight: 400;
   opacity: 0.6;
}

.contribute__image-bg {
   cursor: pointer;
   margin: 96px 0;
   padding: 92px 0;
   background: url('../img/contribute.png') 50%/cover no-repeat;
   border-radius: 12px;
   text-align: center;
   position: relative;
}

.contribute__content{
   position: relative;
   z-index: 1;
}

.contribute .subtitle {
   padding: 0 20px 35px 20px;
   color: #ffffff;
   margin: auto;
}

.contribute .green-button {
   margin: 0 32px 0 0;
}

.contribute__overlay {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: #0B0706;
   border-radius: 12px;
   opacity: 0.5;
   transition: all 0.3s;
}

.contribute__image-bg:hover .contribute__overlay {
   opacity: .3;
}

.news .row {
   gap: 24px;

}

.news__title {
   font-size: 40px;
   font-weight: 600;
   color: #1D2130;
   position: relative;
   margin: 0 0 50px 0;
}

.news__title::after {
   content: '';
   height: 1px;
   max-width: 950px;
   width: 100%;
   background: #e5e5e5;
   position: absolute;
   top: 0;
   right: 0;   
   bottom: 0;
   margin: auto;
}

.news__post {
   display: flex;
   flex-direction: column;
   cursor: pointer;
   transition: all 0.3s;
}

.news__post:hover{
   transform: scale(1.05);
}

.news__post_img {
   border-radius: 8px;
}

.news__post_title {
   font-size: 20px;
   line-height: 30px;
   font-weight: 600;
   color: #1C1D28;
   padding: 16px 0 8px 0;
   flex: 1 1 auto;
}


.footer {
   background-color: burlywood;
   height: 80px;
}



@media (max-width: 1280px) {
   .content {
      padding: 0 10px 0 0;
   }
   .title {
      border-bottom: 2px solid #1D2130;
      display: inline;
   }
   
   .content__text {
      max-width: 560px;
   }

   .about-us__supporters_title::after {
      top: unset;
   }

   .news__title::after {
      top: unset;

   }
}


@media (max-width: 1024px) {

   .header__menu-item {
      margin: 0 25px 0 0;

   }

   .banner__content-wrapper {
      max-width: 100%;
      text-align: center;
      margin: auto;
   }
   .banner__title {
      margin: auto;
      max-width: 640px;
   }

   .about-us {
      padding: 65px 0 0 0;
   }

   .subtitle {
      font-size: 40px;
      padding: 20px 0;
      max-width: 435px;
   }

   .content__text {
      max-width: 435px;
      padding: 0 0 20px 0;

   }

   .about-us__image {
      max-width: 400px;
   }

   .care .wrapper {
      position: relative;
      padding-top: 95px;
   }
   

   .care .title{
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      border: none;
   }

   
   .care .subtitle{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      text-align: center;
      max-width: 100%;

   }

   .care__image {
      max-width: 360px;   
   }

   .projects .row {
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 23px;
   }
   .projects .title {
      display: block;
      text-align: center;
      border: none;
   }

   .projects .subtitle {
      max-width: 100%;
      text-align: center;
   }

   .donations__content {
      max-width: 470px;
  }
}

@media (max-width: 891px) {
   
   .title {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      border: none;
   }

   .subtitle {
      font-size: 30px;
      min-width: 310px;
      padding: 50px 0 20px 0;

   }
   
   .content {
      text-align: center;
   }

   .content__text {
      width: 300px;
      margin: auto;
   }

   .about-us .green-button {
      padding: 16px 40px;
    
   }
   
   .about-us__image {
      align-self: flex-end;
      max-width: 350px;
   }

   .about-us__supporters {
      padding: 50px 0 30px;
   }
   
   .about-us__supporters .row{
      flex-wrap: wrap;
      column-gap: 120px;
   }
   
   .about-us__supporters_title {
      text-align: center;
   }
   
   .care {
      padding: 70px 0px 70px 0px;
   }

   .care .wrapper {
      padding-top: 135px;
   }

   .care .content {
      text-align: left;
   }

   .care .subtitle+.content__text {
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      text-align: center;
   }

   .care__we-do_title {
      font-size: 20px;
   }

   .care__we-do .content__text {
      padding: 0 0 10px 0;
   }

   .projects .wrapper {
      padding: 70px 20px;
   }

   .projects .row {
      padding-top: 15px;
   }

   .projects__image {
      min-width: 100%;
      background-size: cover;
      background-position: 50%;
      text-align: center;
   }
   
   .donations .wrapper {
      padding: 145px 20px 65px;
   }

   .donations__content {
      align-self: center;
   }

   .donations .subtitle {
      max-width: 650px;
      padding: 30px 0 20px 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
   }
   
   .donations .content__text{
      width: 100%;
      max-width: 650px;
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      text-align: center;
   }

   .donations__statistic {
      flex-direction: column;
      gap: 30px;
   }

   .news .row {
      flex-wrap: wrap;   
   }

   .news__post {
      width: 48%;
   }

   .news .content__text {
      width: 100%;
   }
}

@media (max-width: 768px) {

   body.lock {
      overflow: hidden;
   }

   .wrapper {
      max-width: 768px;
   }

   .header__body {
      height: 50px;
   }
   .header__logo {
      z-index: 2;
   }

   .header__menu-toggle {
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 2;
      cursor: pointer;
   }

   .header__menu-toggle::before,
   .header__menu-toggle::after {
      content: "";      
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      background: #0B0706;
      transition: all .3s;
   }

   .header__menu-toggle::before {
      top: 0;
   }

   .header__menu-toggle::after {
      bottom: 0;
   }

   .header__menu-toggle span {
      position: absolute;
      top: 9px;
      height: 2px;
      width: 100%;
      background: #0B0706;
      transition: all .3s;

   }


   .header__menu-toggle.active::before {
      transform: rotate(45deg);
      top: 9px;
   }

   .header__menu-toggle.active span {
      opacity: 0;
   }

   .header__menu-toggle.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
   }

   .header__navigation {
      width: 100%;
      height: 100%;
      position: fixed;
      top: -100%;
      left: 0;
      padding: 0 10px;
      background: #ffffff;
      flex-direction: column;
      transition: all 0.3s;
   }
   
   .header__navigation.active {
      top: 0;
   }
   
   .header__menu{
      padding: 60px 0 0 0;
      align-items: center;
      font-size: 24px;
      display: block;
      text-align: center;     
      overflow: auto;
      position: relative;
      z-index: 5;
   }
   
  .header__menu-item {
     display: block;
     font-size: 24px;
     margin: 0 0 20px 0;
     color: #0B0706;
   }
   
   .header__menu-item::after {
      display: none;
   }
   
   .header__button {
      text-align: center;
      max-width: 310px;
      width: 100%;
   }

   .main {
      padding: 50px 0 0 0;
   }

   .banner__content-wrapper {
      padding: 100px 0 140px 0;
   }
   
   .banner__title {
      max-width: 600px;
      font-size: 50px;
      font-weight: 700;
      padding: 0 0 50px 0;
      color: #ffffff;
   }

   .banner__statistics_trees,
   .banner__statistics_donations {
      font-size: 16px;
   }

   .about-us {
      padding: 40px 0 0 0;
   }
   
   .row {
      column-gap: 66px;
   }
   
   .column {
      flex-direction: column;
   }

   .subtitle {
      max-width: 100%;
   }

   .content__text {
      min-width: 100%;
   }

   .about-us__image {
      display: none;
   }

   .care {
      padding: 50px 20px;
   }

   .care .wrapper {
      padding: 0  0  0  0;   
   }
   
   .care .title,
   .care .subtitle{
      position: unset;
      display: block;
   }

   .care .subtitle+.content__text {
      position: unset;
   }

   .care__we-do_title {
      font-size: 20px;
   }
   
   .care .content {
      width: 100%;
      padding: 0 0 0 0;
   }

   .care__we-do {
      width: 100%;
      max-width: 100%;
   }

   .care__image {
      display: none;
   }

   .projects .wrapper {
      padding: 50px 20px;
   }

   .projects__image_title {
      font-size: 24px;
   }

   .donations .wrapper {
      flex-wrap: wrap;
      gap: 20px;
      padding: 180px 20px 50px;
   }

   .donations__content {
      order: 2;
      max-width: 100%;
   }

   .donations .content__text {
      top: 100px;
      padding: 0px 20px;
   }

   .donations__diagram {
      width: 100%;
      order: 1;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .donations__statistic {
      flex-direction: row;
      gap: 16px;
      justify-content: center;
      align-items: center;
   }

   .contribute__image-bg {
      margin: 70px 0;
      padding: 65px 0;
   }
}

@media (max-width: 655px) {

   .banner__content-wrapper {
      padding: 70px 0 85px 0;
  }

  .banner__title {
   font-size: 37px;
   max-width: 400px;
  }

  .white-button {
   font-size: 16px;
   padding: 10px 25px;
  }

  .banner__statistics {
      padding: 0 0 50px 0;
      justify-content: space-between;
   }
   
   .banner__statistics_trees,
   .banner__statistics_donations {
      font-size: 14px;
   }

   .banner__statistics_line {
      display: none;
   }

   .row {
      column-gap: 24px;
   }

   .about-us__supporters_logo {
      width: 136px;
      margin: auto;
   }
   
   .donations .subtitle {
      padding: 30px 20px 20px 20px;
      text-align: center;
   }

   .contribute .white-button,
   .contribute .green-button {
      padding: 12px 24px;
   }
   
   .news .row {
      gap: 15px;
   }
   
   .news__post {
      width: 100%;
      text-align: center;
   }

   .news__post_title,
   .news .content__text {
      padding: 0 0 0 0;
   }
}

@media (max-width: 480px) {
   .banner__title {
      font-size: 28px;
      max-width: 300px;
   }

   .banner__buttons {
      display: flex;
      flex-direction: column;
      padding: 0 50px;
   }

   .banner__play-button {
      margin: 25px 0 0 20px;
      padding: 10px 0;  
   }

   .banner__play-button::before {
      right: 110px;
   }

   .banner__statistics {
      display: none;
   }

   .title {
      font-size: 14px;
   }

   .subtitle {
      font-size: 25px;
   }

   .content__text {
      font-size: 14px;
   }
   
   .care .subtitle {
      min-width: 100%;
   }

   .care__we-do {
      padding: 0 0 0 41px;   
   }

   .care__we-do .content__text {
      width: 100%;
   }

   .care__we-do_cities::before,
   .care__we-do_plantations::before,
   .care__we-do_protect::before,
   .care__we-do_animal::before {
      left: -33px;
   }

   .projects__image {
      padding: 35px 25px 35px 25px;
   }

   .projects .content__text {
      width: 100%;
      padding: 16px 0 35px 0;
   }

   .projects__image_title {
      font-size: 20px;
      font-weight: 500;
   }

   .donations .wrapper {
      padding: 225px 20px 50px;
   }

   .donations .content__text {
      top: 120px;
   }

   .contribute__image-bg {
      margin: 30px 0;
      padding: 25px 0;
   }

   .contribute__buttons {
      display: flex;
      flex-direction: column;
      gap: 15px;
   }

   .contribute .subtitle {
      min-width: 240px;
   }

   .contribute .green-button,
   .contribute .white-button {
      align-self: center;
      margin: auto;
   }
}